html { font-size: 20px; }

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.header {
    display: grid;
    background-image: url(image.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form_reservation_responsive {
    width: 100%;
}
.form_responsive_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
label {
    color: #484848;
    font-weight: bolder;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 8px;
    line-height: 1.33333em;
}
.input {
    padding: 0;
    height: 48px;
    border: 1px solid rgb(235, 235, 235);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.input:focus {
    border: 1px solid green;
}
.container {
    padding: 20px;
    /*SIEMPRE DEBE EXISTIR UN CONTAINER*/
}
.btn_search_reservation_responsive{
    background-color: rgba(255, 90, 95, 1);
    color: white;
    padding: 14px;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    border-style: solid;
    font-weight: bolder;
    margin: auto;
}
.btn_search_reservation_responsive:hover{
    cursor: pointer;
    background-color:rgba(255, 92, 97, 0.90);
}
.subtitle_responsive{
    text-align: center;
    color: rgb(72, 72, 72);
}
/************CALENDAR**********/
.calendar_container {
    width: 360px;
    margin: 1.6rem auto;
    max-width: 42rem;
    text-align: center;
    position: relative;
    top: -180px;
    display: none;
}

.demo-picked {
    font-size: 10px;
    text-align: center;
}

.demo-picked span {
    font-weight: bold;
}

.vcal-week > span{
    font-size: 10px;
}
/************END CALENDAR**********/


.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item_categories{
    padding: 20px;
}
.item_categories > img{
    width: 300px;
}
.title_responsive {
    color: white;
    box-shadow: 2px;
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    font-size: 0.7rem;
}
.container_form_reservation_desktop{
    display: none;
}
.title_desktop > h1{
    font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
    .input {
        width: 92%;
    }
    .input_items {
        width: 82%;
    }
}

@media screen and (min-width: 480px) {
    .input {
        width: 93.5%;
    }
    .input_items {
        width: 87%;
    }
}

@media screen and (min-width: 767px) {
    .title_responsive {
        display: none;
    }
    .form_reservation_responsive {
        display: none;
    }
    .container_form_reservation_desktop{
        display: grid;
        grid-template-columns:  70px 1fr;
        grid-template-rows: 550px;
    }
    .form_reservation_desktop{
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        padding: 32px 32px 24px;
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
        color: #484848;
        margin-top: 100px;
    }
    
}

@media screen and (min-width: 950px) {}
